.typing-test-container{
  display: block;
}

.typing-test-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background-color: #2B2D42;
  align-items: center;
}


.text-container{
  margin-top: -12%;
  width: 60%;
}

.text-wrapper{
  position: relative;
}

.original-text-container{
  position: absolute;

}

.original-text,
.layover-text {
  color: #FBFCFD;
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 500;
}

.layover-text-container {
  position: absolute;

}

.layover-text{
  color: #E0BF6E;
  text-shadow: .7px 1px #E0BF6E;
}