.abt-container {
  font-family: Montserrat;
  min-height : 100vh;
  background-color: #2B2D42;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading1 {
  position:relative;
}

.abt-repolink{
  text-decoration: none;
  color: #E2C478;
}

.abt-repolink:hover{
  color: #FE6D73;
  text-decoration: none;
}

.heading2 {
  position:relative;
}
.heading3 {
  text-align: center;
  margin-bottom: 20px;
}

.abt-header {
  margin-top: 80px;
  font-size: 75px;
  font-weight: 400;
  font-family: montserrat;
  color: #BDC6D1;
  text-align: center;
}

.abt-content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  color: #BDC6D1;
  font-family: Montserrat;
  align-items: center;
}

.project-container-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-top: 32px;

}

.team-container{
  margin-top: 60px;
  margin-bottom: 70px;
}

.about-person-left-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;

}

.about-person-right-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

}

.about-person-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-person-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

